<!DOCTYPE html>
<html lang="en" ng-app="coctails">
<head>
	<meta charset="UTF-8">
	<title>Coctails</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
</head>
<body>

	<div ng-controller="MainController"
		 class="container">

		<!-- <div class="form-group"> TODO: future feature
			<input type="text" class="form-control" id="search" placeholder="Поиск">
		</div> -->

		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Название</th>
					<th scope="col">Состав</th>
					<th scope="col">Рецепт</th>
				</tr>
				<tr>
					<th></th>
					<th>
						<!-- <input type="text"> TODO: future feature -->
					</th>
					<th>
						<input ng-model="searchModel"
							   ng-keyup="searchMethod()"
							   type="text">
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key1, value1) in coctailsModel track by $index">
					<th scope="row">{{ $index+1 }}</th>
					<td>{{ coctailsModel[$index].name }}</td>
					<td>
						<p ng-repeat="(key2, value2) in coctailsModel[$index].products track by $index"><span>{{ value2.quantity }}</span> <span>{{ value2.product }}</span></p>
					</td>
					<td>{{ coctailsModel[$index].recipe }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.js"></script>
	<script>
		var MODULE_NAME = "coctails";
		var alcoholModel = {
			"tequila": "текила",
			"rum": {
				"white": "светлый ром",
				"balck": "темный ром"
			},
			"vodka": "водка",
			"peachSchnapps": "персиковый шнапс",
			"gin": "джин"
		};
		var liqueurModel = {
			"cointreau": "куантро",
			"blueCuracao": "блю кюрасао",
			"tiaMaria": "тиа мария",
			"amaretto": "амаретто",
			"tripleSec": "трипл сек"
		};
		var juiceModel = {
			"orange": "апельсиновый сок",
			"lime": "сок лайма",
			"pineapple": "ананасовый сок",
			"lemonade": "лимонад",
			"cranberry": "клюквеный сок",
			"lemon": "лимонный сок"
		};
		var syrupModel = {
			"grenadine": "гренадин",
			"sugar": "сахарный сироп"
		};
		var milkModel = {
			"cream": "сливки",
			"coconutСream": "кокосовые сливки",
			"milk": "молоко"
		};
		var wineModel = {
			"vermouth": "вермут"
		};
		var bittersModel = {
			"angostura": "агустура"
		};
		var sodaModel = {
			"sprite": "спрайт",
			"cocaCola": "кока кола"
		};
		var coctailsModel = [
			{
				"name": "Маргарита",
				"products": [
					{
						"product": juiceModel.lime,
						"quantity": 2
					},
					{
						"product": liqueurModel.cointreau,
						"quantity": 1
					},
					{
						"product": alcoholModel.tequila,
						"quantity": 2
					}
				],
				"recipe": "Протрите край бокала долькой лайма, переверните его в тарелку с солью и покрутите в ней бокал, чтобы соль осталась на краях. Смешайте текилу, куантро и сок лайма в шейкре для коктейлей и процедите его в подготовленый бокал, украшеный долькой лайма."
			},
			{
				"name": "Текиловый рассвет",
				"products": [
					{
						"product": juiceModel.orange,
						"quantity": ""
					},
					{
						"product": alcoholModel.tequila,
						"quantity": 1
					},
					{
						"product": syrupModel.grenadine,
						"quantity": 2
					}
				],
				"recipe": "Наполните до половины стакан кубиками льда и налейте текилы. Добавьте апельсинового сока почти до краев стакана и добавьте несколько капель гренадина, который опускаясь на дно стакана создаст эффект заката солнца. В качестве украшения можете добавить кольцо/дольку апельсина и вишенкой."
			},
			{
				"name": "Пина колада",
				"products": [
					{
						"product": milkModel.cream,
						"quantity": 1
					},
					{
						"product": milkModel.coconutСream,
						"quantity": 1
					},
					{
						"product": alcoholModel.rum.white,
						"quantity": 2
					},
					{
						"product": juiceModel.pineapple,
						"quantity": 4
					}
				],
				"recipe": "Смешайте и потрусите вместе с белым ромом ананасовый сок, сливки и кокосовые сливки с 3-5 кубиками колотого льда, взболтайте. Вылейте смесь в бокал и украсьте долькой ананаса и коктейльным зонтиком."
			},
			{
				"name": "Голубая лагуна",
				"products": [
					{
						"product": juiceModel.lemonade,
						"quantity": ""
					},
					{
						"product": liqueurModel.blueCuracao,
						"quantity": 2
					},
					{
						"product": alcoholModel.vodka,
						"quantity": 2
					}
				],
				"recipe": "Налейте водки в стакан до середины наполеный колотым льдом. Медленно, сверху наливайте блю кюрасао и потом заполните лимонадом. Украсьте долькой лимона или апельсина."
			},
			{
				"name": "Космополитан",
				"products": [
					{
						"product": juiceModel.cranberry,
						"quantity": 1
					},
					{
						"product": juiceModel.lime,
						"quantity": 0.5
					},
					{
						"product": liqueurModel.cointreau,
						"quantity": 1
					},
					{
						"product": alcoholModel.vodka,
						"quantity": 2
					}
				],
				"recipe": "Перемешайте вместе водку, куантро, и сок лайма и клюквенный в коктейльном миксере с двумя кубиками льда."
			},
			{
				"name": "Ву ву",
				"products": [
					{
						"product": juiceModel.cranberry,
						"quantity": ""
					},
					{
						"product": alcoholModel.peachSchnapps,
						"quantity": 2
					},
					{
						"product": alcoholModel.vodka,
						"quantity": 2
					}
				],
				"recipe": "Наполните стакан до половины льдом. Добавьте водки и персикового шнапса. Сверху долейте клюквиного сока. Перемешайте, украсьте долькой апельсина или лимона."
			},
			{
				"name": "Кричащий оргазм",
				"products": [
					{
						"product": milkModel.milk,
						"quantity": 3
					},
					{
						"product": liqueurModel.tiaMaria,
						"quantity": 1
					},
					{
						"product": liqueurModel.amaretto,
						"quantity": 1
					},
					{
						"product": alcoholModel.vodka,
						"quantity": 1
					}
				],
				"recipe": "Потрите край бокала долькой лайма, переверните его в тарелку с солью и покрутите в ней бокал, чтобы соль осталась на краях. Смешайте текилу, куантро и сок лайма в шейкре и процедите его в подготовленый бокал, украшеный долькой лайма."
			},
			{
				"name": "Мартини",
				"products": [
					{
						"product": wineModel.vermouth,
						"quantity": 1
					},
					{
						"product": alcoholModel.gin,
						"quantity": 3
					}
				],
				"recipe": "Потрясите вместе с джин и вермут в шейкре для коктейлей вместе с 2-3 кубиками льда. Потом вылейте содержимое в охлажденный бокал для коктейлей. Украсьте закрученной полоской из кожуры лимона, добавьте наколотую на шпашку оливку."
			},
			{
				"name": "Кислый амаретто",
				"products": [
					{
						"product": juiceModel.lemon,
						"quantity": 1.5
					},
					{
						"product": syrupModel.sugar,
						"quantity": 2
					},
					{
						"product": liqueurModel.amaretto,
						"quantity": 2
					}
				],
				"recipe": "Потрусите амаретто, сахарный сироп и сок лимона в шейкре для коктейлей наполеный на половину кубиками льда. Вылейте в стакан и украсьте вишенкой и долькой апельсина."
			},
			{
				"name": "Мохито",
				"products": [
					{
						"product": bittersModel.angostura,
						"quantity": "три капли"
					},
					{
						"product": syrupModel.sugar,
						"quantity": 1
					},
					{
						"product": sodaModel.sprite,
						"quantity": ""
					},
					{
						"product": juiceModel.lime,
						"quantity": 1
					},
					{
						"product": alcoholModel.rum.white,
						"quantity": 2
					}
				],
				"recipe": "Размешайте в стакане несколько листиков мяты с сахарным сиропом и соком лайма. Заполните стакан кубиками льда до верху. Добавьте несколько капель ангостуры и ром.Сверху долейте соды(спрайт)/газировки. Украсьте долькой лайма."
			},
			{
				"name": "Секс на пляже",
				"products": [
					{
						"product": juiceModel.cranberry,
						"quantity": 3
					},
					{
						"product": juiceModel.orange,
						"quantity": 3
					},
					{
						"product": alcoholModel.vodka,
						"quantity": 2
					},
					{
						"product": alcoholModel.peachSchnapps,
						"quantity": 1
					}
				],
				"recipe": "Взболтайте водку, персиковый шнапс с 3-5 кубиками льда в шейкере. Вылейте содержимое в подготовленый стакан и долейте до верху клюквенный и апельсиновый сок. Украсьте долькой апельсина и несколько вишен."
			},
			{
				"name": "Черный русский",
				"products": [
					{
						"product": sodaModel.cocaCola,
						"quantity": 1
					},
					{
						"product": milkModel.milk,
						"quantity": 1
					},
					{
						"product": liqueurModel.tiaMaria,
						"quantity": 1
					},
					{
						"product": alcoholModel.vodka,
						"quantity": 2
					}
				],
				"recipe": "Взболтайте водку, ликер тиа мария и молоко в шейкере. Наполните стакан кубиками льда и добавьте содержимым из шейкера. Долейте до верху колы."
			},
			{
				"name": "Лонг Айленд Айс Ти",
				"products": [
					{
						"product": sodaModel.cocaCola,
						"quantity": 1
					},
					{
						"product": liqueurModel.tripleSec,
						"quantity": 1
					},
					{
						"product": alcoholModel.tequila,
						"quantity": 1
					},
					{
						"product": alcoholModel.rum.white,
						"quantity": 1
					},
					{
						"product": alcoholModel.gin,
						"quantity": 1
					},
					{
						"product": alcoholModel.vodka,
						"quantity": 1
					}
				],
				"recipe": "Взболтайте вместе водку, джин, ром, ликер трипл сек, текилу с 2-3 кубиками льда. Процедите смесь в подготовленый стакан. Украсьте стакан долькой лимона и несколькими листиками мяты."
			},
			{
				"name": "Манхетнтен",
				"products": [
					{
						"product": wineModel.vermouth,
						"quantity": 1
					},
					{
						"product": "бурбон", /* TODO: бренди*/
						"quantity": 2
					}
				],
				"recipe": "не заполнено"
			},
			{
				"name": "Май тай",
				"products": [
					{
						"product": bittersModel.angostura,
						"quantity": "1 капля"
					},
					{
						"product": "Абрикосовый бренди", /* TODO: Apricot brendy */
						"quantity": 0.5
					},
					{
						"product": juiceModel.pineapple,
						"quantity": 0.5
					},
					{
						"product": juiceModel.lime,
						"quantity": 0.5
					},
					{
						"product": juiceModel.orange,
						"quantity": 0.5
					},
					{
						"product": alcoholModel.rum.balck,
						"quantity": 2
					}
				],
				"recipe": "не заполнено"
			},
			{
				"name": "Клюквеный охладитель",
				"products": [
					{
						"product": juiceModel.cranberry,
						"quantity": 3
					},
					{
						"product": juiceModel.orange,
						"quantity": 2
					},
					{
						"product": liqueurModel.amaretto,
						"quantity": 1
					},
					{
						"product": alcoholModel.vodka,
						"quantity": 1
					}
				],
				"recipe": "не заполнено"
			}
		];
		

		(function() {
			"use strict";

			angular
				.module(MODULE_NAME, [])
				.controller("MainController", MainController)
			;

			MainController.$inject = ["$scope", "$filter"];
			function MainController($scope, $filter) {
				$scope.coctailsModel = coctailsModel;
				$scope.test = "ttt";

				$scope.searchMethod = searchMethod;

				function searchMethod() {
					var searchParams = [];
					searchParams = $scope.searchModel.trim().split(" ");
					searchSubString(searchParams);
				}

				function searchSubString(params) {
					var coctailsModelLength = coctailsModel.length;
					var paramsLength = params.length;
					var res = [];

					for(var i = 0; i < coctailsModelLength; i++) {
						var productLength = coctailsModel[i].products.length;
						for(var j = 0; j < productLength; j++) {
							var a = false;
							for(var z = 0; z < paramsLength; z++) {
								if(coctailsModel[i].products[j].product.indexOf(params[z]) !== -1) {
									res.push(coctailsModel[i]);
									a = true;
								}
							}

							if (a) { break; }
						}
					}

					$scope.coctailsModel = $filter('filter')(res);
					console.log($scope.coctailsModel);
				}
			}
		})();
	</script>
</body>
</html>
